{% extends 'book/base.html' %}

{% load url from future %}
{% block content %}


<h2>Bills History</h2>

<a href="{% url 'book:index' %}">Continoue shopping</a>

{% if bills %}
    <ul>
    {% for bill in bills %}
        <li id="billId_{{ bill.id }}">
            <p>Bill Id: {{ bill.id }}</p>
            <p>Total Price: ${{ bill.totalPrice }}</p>
            <p>Checkout Date: ${{ bill.checkout_date }}</p>
            <ol>
            {% for book in bill.booksHistory %}            
                <li><a href="{% url 'book:detail' book.id %}">{{ book.title }}</a></li>
            {% endfor %}
            </ol>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bill in history.</p>
{% endif %}

{% endblock %}