<h2>Shopping Cart</h2>
<a href="{% url 'book:search' %}">Continoue shopping</a>
{% if boughtItems %}
    <ul>
    {% for item in boughtItems %}
        <li>
            <a href="{% url 'book:detail' item.book.id %}">{{ item.book.title }}</a>
            <form action="{% url 'book:adjust' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="book_id" name="book_id" value="{{ item.book.id }}" />
                <input id="qty" name="qty" value="{{ item.qty }}" />
                <input type="submit" value="Adjust" />
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No book are in cart.</p>
{% endif %}

