<h2>Shopping Cart</h2>
<a href="{% url 'book:index' %}">Continoue shopping</a>
{% if boughtItems %}
    <ul>
    {% for item in boughtItems %}
        <li>
            <a href="{% url 'book:detail' item.book.id %}">{{ item.book.title }}</a>
            <form action="{% url 'book:adjust' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" id="book_id" name="book_id" value="{{ item.book.id }}" />
                <label for="qty">Qty:</lable><input id="qty" name="qty" value="{{ item.qty }}" />
                <input type="submit" value="Adjust" />
            </form>
        </li>
    {% endfor %}
    </ul>
    <form action="{% url 'book:checkout' %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Checkout" />        
    </form>
    
{% else %}
    <p>No book in cart.</p>
{% endif %}

