{% extends 'book/base.html' %}

{% block content %}


<h2>Shopping Cart</h2>
<a href="{% url 'book:cart' %}">Back to Cart</a>
<a href="{% url 'book:index' %}">Continoue shopping</a>

<p>Total Price: ${{ totalPrice }}</p>
<form action="{% url 'book:confirm' %}" method="POST">
    {% csrf_token %}
    <label for="billingAddr">Billing Addr</lable><input id="billingAddr" name="billingAddr" value="{{ userProfile.billingAddr }}" /><br/>
    <label for="shippingAddr">Shipping Addr</lable><input id="shippingAddr" name="shippingAddr" value="{{ userProfile.shippingAddr }}" /><br/>
    <label for="creditCard">Credit Card</lable><input id="creditCard" name="creditCard" value="{{ userProfile.creditCard }}" /><br/>
    <input type="submit" id="btnConfirm" value="Confirm" />        
</form>
    
{% endblock %}
