
<div>
    <h1>Welcome to Book Store.</h1>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}. Thanks for logging in.
        <a href="{% url 'book:logout' %}">Logout</a>
        </p>
    {% else %}
        <p>Welcome, Please log in.</p>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'book:login' %}" method="post">
        {% csrf_token %}
            <label for="username">username</label>
            <input type="text" name="username" placeholder="username" value="uperform" /><br/>
            <label for="password">password</label>
            <input type="password" name="password" placeholder="password" value="uperform" /><br/>
            <input type="submit" value="Login" id="btnLogin"/>
        </form>
    {% endif %}
    
</div>
        {% if notify_message %}<p><strong>{{ notify_message }}</strong></p>{% endif %}
        <p><a href="{% url 'book:cart' %}">Cart</a></p>
        
<div>
    <form action="{% url 'book:search' %}" method="get">
        <input id="q" name="q" placeholder="9876 books" />
        <input type="submit" value="Search" />
    </form>
</div>
{% if books %}
    <ul>
    {% for book in books %}
        <li><a href="{% url 'book:detail' book.id %}">{{ book.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No book are in stock.</p>
{% endif %}

