{% load url from future %}


<h2>User Profile</h2>
<a href="{% url 'book:index' %}">Continoue shopping</a>

<form action="{% url 'book:updateProfile' %}" method="POST">
    {% csrf_token %}
    <label for="billingAddr">Billing Addr</lable><input id="billingAddr" name="billingAddr" value="{{ userProfile.billingAddr }}" /><br/>
    <label for="shippingAddr">Shipping Addr</lable><input id="shippingAddr" name="shippingAddr" value="{{ userProfile.shippingAddr }}" /><br/>
    <label for="creditCard">Credit Card</lable><input id="creditCard" name="creditCard" value="{{ userProfile.creditCard }}" /><br/>
    <input type="submit" id="btnUpdate" value="Update" />        
</form>

<a id="btnCancel" href="{% url 'book:index' %}">cancel</a>


