<div>
    <form action="{% url 'book:search' %}" method="get">
        <input id="q" name="q" placeholder="9876 books" />
        <input type="submit" id="search" value="Search" />
    </form>
</div>
{% if books %}
    <p>Found {{ books|length }} book{{ books|pluralize }}:</p>
    <ul>
    {% for book in books %}
        <li><a id="isbn_{{ book.isbn }}" href="{% url 'book:detail' book.id %}">{{ book.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No book are in stock.</p>
{% endif %}

